  <div class="row procuct-list-container">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
      <div class="card h-100">
       <div class="card-body">
          <h4 class="card-title">
            <a href="/products/{{product.id}}">{{product.name}}</a>
          </h4>
          <p class="card-text">{{product.description | slice:0:70}} ...</p>
        </div>
        <div class="card-footer">
              <div class="product-price">
                  ${{product.price}}
              </div>
              <div class="add-to-cart-btn">
                  <a href="/products/{{product.id}}" class="btn btn-dark">Add to card</a>
              </div>
        </div>
      </div>
    </div>
  </div>