
<div class="container">
  <br>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <header class="card-header">
          <a href="/signin" class="float-right btn btn-outline-primary mt-1">Autentificare</a>
          <h4 class="card-title mt-2">Inregistrare</h4>
        </header>
        <article class="card-body">
          <!--<div [hidden]="submitted" style="width: 300px;">-->
              <div [hidden]="!failed" class="alert alert-danger" role="alert">
                  <p  [innerHtml]="message"></p>
                </div>
                <div [hidden]="!success" class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
            <form (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col form-group">
                  <label>Nume </label>
                  <input type="text" class="form-control" required [(ngModel)]="user.firstName" name="firstName">
                </div>
                <!-- form-group end.//  -->
                <div class="col form-group">
                  <label>Prenume</label>
                  <input type="text" class="form-control"  required [(ngModel)]="user.lastName" name="lastName">
                </div>
                <!-- form-group end.// -->
              </div>
              <!-- form-row end.// -->
              <div class="form-group">
                <label>Adresa email</label>
                <input type="email" class="form-control"  required [(ngModel)]="user.email" name="email">
              </div>
              <!-- form-group end.// -->


              <div class="form-group">
                <label>Parola</label>
                <input class="form-control" type="password"  required [(ngModel)]="user.password" name="password">
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                <label>Confirma parola</label>
                <input class="form-control" type="password"  required [(ngModel)]="user.confirmPassword" name="confirmPassword">
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                <label>Telefon</label>
                <input class="form-control" type="text"  [(ngModel)]="user.phone" name="phone" required>
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Inregistreaza-te </button>
              </div>
              <!-- form-group// -->
             </form>
          <!--</div>-->
          <div [hidden]="!submitted">
              <h4>Inregistrarea s-a facut cu succes!</h4>
              <button class="btn btn-success" (click)="newCustomer()">OK</button>
            </div>
        </article>
        <!-- card-body end .// -->
      </div>
      <!-- card.// -->
    </div>
    <!-- col.//-->

  </div>
  <!-- row.//-->


</div>
<!--container end.//-->

